In [1]:
import numpy as np
import pandas as pd

In [103]:
d = {'_ID_': range(4166), '_VAL_': np.random.randint(0,2,4166)}

In [111]:
df = pd.DataFrame(data=d)
df.head()

   _ID_  _VAL_
0     0      0
1     1      0
2     2      1
3     3      0
4     4      1

In [112]:
df.to_csv('submit.csv', index=False)